<!doctype html>
<html lang="en">
  <head>
    <title>serfBoard!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="/assets/js/javascript.js"></script>
  </head>
  <body>
    <!-- Navbar -->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		      <a class="navbar-brand" href="#">SerfBoard</a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>
		      <div class="collapse navbar-collapse" id="navbarCollapse">
		        <ul class="navbar-nav mr-auto">
		          <li class="nav-item active">
		            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		          </li>
		        </ul>
						<div>
							<!-- To-do: Populate this with jQuery based on whether user is logged in or not -->
							<ul class="navbar-nav mr-auto" id="account-nav">
							<!--
								<li class="nav-item">
									<a class="nav-link" href="#">Account Settings</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Log Out</a>
								</li>
								-->
							</ul>
						</div>
		      </div>
		    </nav>


    <!-- Main container -->
    {{{body}}}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
