<main role="main" class="container">
  <div class="jumbotron bg-success">
    <h1 class="text-light">Congrats</h1>
    <div id="title" data-id="{{title}}"></div>
    <p class="lead text-light">Now login to access your dashboard</p>
    <br>
    <br>
    <div class="row">
      You account has been updated!!
    </div>
    <!-- row -->
    <!-- Name -->
    <!-- Email -->
    <!-- Password -->
    <!-- Building -->
    <!-- Apartment -->
    <!-- Phone Number -->


  </div>
</main>
