<link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="assets/css/jquery-ui.css">
<link rel="stylesheet" href="assets/css/map.css">
<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-light">SerfBoard</h1>
            <p class="lead text-light">An application to streamline tenant feedback.</p>

          </div>

        </div>


        <!-- search box and map -->
        <div class="row justify-content-md-center">
            <div id="search-box">
              <input id="search-field" type="text" placeholder="find your apartment"></input>
              <div id="search-button">search</div>
            </div>
            <div id="map"></div>

        </div>
        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM1CXYGhsyp8_8Rpq6sUo0ewr3py-ufw4">
        </script>



        <!-- <h1 class="text-light">SerfBoard</h1> -->
        <!-- <p class="lead text-light">An application to streamline tenant feedback.</p> -->
        <br>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h3>Have a SerfBoard number already?</h3>
            <button type="button" class="btn btn-groovy" id="yes">Click here</button>
            <!-- <br>
            <input class="form-control" id="addressLookUp" placeholder="Enter address here"> -->
          </div>

          <div class="col-md-6">
            <h3>Are you a LandLord?</h3>
            <button type="button" class="btn btn-groovy" id="registerLandLord">Register Here</button>
            <!-- <br>
            <input class="form-control" id="addressLookUp" placeholder="Enter address here"> -->
          </div>
          <!-- <div class="col-md-2 offset-5">
            <br>
            <button type="button" class="btn btn-success" id="searchSerfBoard">Enter</button>


          </div> -->

        </div>

					<!-- <div class="col-md-8 offset-2">
						<h2>First, have you texted a serfBoard number or know what your serfBoard number is?</h2>

					</div>
					<button type="button" class="offset-5 btn btn-light" id="yes"><a href="/api/number"></a>Yes</button>
					<button type="button" class="btn btn-danger" id="no"><a href="/api/building"></a>No</button> -->


      </div>

    </div>

  </div>
</main>
<script src="assets/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="assets/js/map.js" type="text/javascript"></script>
