<div class="container">
  <div class="row">
    <div class="col-md-6" style="margin: auto">
      <form class="form-group">
        <div class="form-group">
          <label>Phone Number</label>
          <h6>{{phone}}</h6>
        </div>
        <div class="form-group">
          <label>Address</label>
          <h6>{{address}}</h6>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" value="{{name}}"></input>
        </div>
        <div class="form-group"
          <label>Apartment Number</label>
          <input type="text" class="form-control" value="{{apt}}"></input>
        </div>
        <div class="form-group"
          <label>Password</label>
          <input type="password" class="form-control" ></input>
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control"></input>
        </div>
        <div class="form-group"
          <label>Email Address</label>
          <input type="email" class="form-control"></input>
        </div>



        <button id="update" type="submit" class="btn btn-primary">Update Account</button>
      </form>
    </div>
  </div>
</div>

<script>

</script>
