<main role="main" class="container">
  <div class="jumbotron bg-primary">
    <h1 class="text-light">SerfBoard</h1>
    <p class="lead text-light">An application to streamline tenant feedback.</p>
    <br>
    <br>
    <div class="row">
			<div class="col-6 offset-3">
				<div class="form-group">
					<label for="numberInput">Enter Number</label>
					<input type="numberInput" class="form-control" id="numberInput" aria-describedby="emailHelp" placeholder="Enter number here">
				</div>

			</div>
			<div class="col-2 offset-5">
				<button type="button" class="btn btn-success" id="searchNumber"><a href="/api/number"></a>Search</button>
			</div>

    </div>
  </div>
</main>
