<main role="main" class="container">
  <div class="jumbotron bg-info">
    <h1 class="text-light">Welcome Tennant</h1>
    <div id="title" data-id="{{title}}"></div>
    <p class="lead text-light">Let's get you started</p>
    <br>
    <br>
    {{# if condition }}

    <!-- condition was met -->

    <div class="row">
      <form>
        <div class="form-group">
          <label for="Name">Name</label>
          <input class="form-control formValid" id="name" aria-describedby="NameHelp" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="Email">Email</label>
          <input class="form-control formValid" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" class="form-control formValid" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="Apartment">Apartment</label>
          <input class="form-control formValid" id="apt" placeholder="Apartment">
        </div>
        <div class="form-group">
          <label for="Number">Phone Number</label>
          <input class="form-control formValid" id="phone" placeholder="Number">
        </div>
        <div class="form-check">
        </div>
        <button type="submit" class="btn btn-primary" id="newSign">Submit</button>
        </form>
    </div>

    {{else}}

      condition not met

    {{/if}}
    <!-- row -->
    <!-- Name -->
    <!-- Email -->
    <!-- Password -->
    <!-- Building -->
    <!-- Apartment -->
    <!-- Phone Number -->


  </div>
</main>
