<main role="main" class="container">
  <div class="jumbotron bg-info">
    <h1 class="text-light">Welcome!</h1>
    <div id="title" data-id="{{title}}"></div>
    <p class="lead text-light">Please enter your user information below</p>
    <br>
    <br>

    <div class="row">
      <form id="signin-form">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control formValid" id="email" autocomplete="username email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control formValid" autocomplete="current-password" id="password" placeholder="Password">
        </div>
        <div class="form-check">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" id="is-landlord">
						I'm a Landlord
					</label>
        </div>
				<button type="submit" class="btn btn-primary" id="sign-in-button">Sign In</button>
       </form>
    </div>

  </div>
</main>
