<main role="main" class="container">
  <div id="info" data-quantity="{{quantity}}" data-labels="{{information}}">

  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to your Dashboard</h1>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- Chart -->
      <canvas id="myChart"></canvas>

    </div>

  </div>
  <div class="jumbotron bg-info">
    <h1 class="text-light">{{name}}</h1>

  </div>
</main>
