<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron bg-primary">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-light">SerfBoard</h1>
            <p class="lead text-light">An application to streamline tenant feedback.</p>

          </div>

        </div>
        <hr>
        <!-- Row -->

        <!-- <h1 class="text-light">SerfBoard</h1> -->
        <!-- <p class="lead text-light">An application to streamline tenant feedback.</p> -->
        <br>
        <br>

					<div class="col-md-8 offset-2">
						<h2>Have you texted a serfBoard number or know what your serfBoard number is?</h2>

					</div>
					<button type="button" class="offset-5 btn btn-light" id="yes"><a href="/api/number"></a>Yes</button>
					<button type="button" class="btn btn-danger" id="no"><a href="/api/building"></a>No</button>


      </div>

    </div>

  </div>

</main>
