:root {
  --button-color: grey;
}

html {
  font-size: 10px;
  font-family: 'Barlow', sans-serif;
}
body {
  background: linear-gradient(70deg, #59B9D6, #99F0F5);
  height: 100%;
  width: 100%;
}
.container {
  max-width: 80rem;
}
 #map {
  height: 40rem;
  max-height: 70vh;
  width: 100%;
  max-width: 80rem;
  margin: 0;
 }
 #search-box {
   width: 100%;
   max-width: 80rem;
   height: 5rem;
   background-color: white;
   padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   margin: 1.5rem 0 1.5rem 0;
 }
 #search-field {
   border: none;
   width: 100%;
   display: flex;
   height: 4rem;
   padding-left: 1rem;
   margin: 0 0 .5rem 0;
   font-size: 2rem;
   caret-color: magenta;
 }
 #search-field:focus {
   outline: none;
 }
 #search-field::placeholder {
   font-style: 'Barlow', sans-serif;
   font-size: 2rem;
   color: lightgrey;
   padding: 0;
   margin: 0;
 }
 #search-button {
   width: auto;
   height: 4rem;
   display: flex;
   background-color: lightgrey;
   padding: 0 1.5rem .2rem 1.5rem;
   margin: .5rem;
   flex-shrink: 0;
   color: white;
   border-radius: 1rem;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   font-weight: 500;
 }

 .jumbotron {
   background-color: transparent;
   padding-top: 3rem;

 }

 .btn-groovy {
   color: white;
   background-color: #9BEDCD;
   border: none;
 }
 h1 {
   font-size: 8rem;
   display: inline-block;
 }
 h3 {
   color: white;
 }
 .navbar-brand {
   font-size: 2rem;
 }
 .navbar {
   height: 5.5rem;
   font-size: 1.5rem;
 }
#roach {
  display: inline-block;
  transform: translateY(-4rem);

}
#title {
  overflow: hidden;
  max-height: 8.5rem;
  margin-bottom: 2rem;
}
