.issues {
	width: 100%;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.filtering-div {
	border: solid 1px #e9ecef;
	padding: 10px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

td, th {
	padding: 10px;
	text-align: center;
}

.noted-issue:nth-child(even) > * {
	background-color: #8ef779;
}

.noted-issue:nth-child(odd) > * {
	background-color: #82e070;
}